body {
    font-family: "Lato", sans-serif;
  }

.header {
    background-color: #000000;
    height: 75px;
}

.header-logo {
    padding: 18px 41px 19px 0;
}

.header-form {
padding:28px 0 20px 0;
}

.header-button {
    background-color: transparent;
    border: none;
    outline: none;
}

.title {
    background: #F8F3F4;
}

.title h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #F16D7F;
    padding:59px 0 60px 0;
}

.title ol {
 background-color: #F8F3F4;
}

.title a {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #636363;
}

.slider {
    background: #F7F7F7;
    height: 777px;
}

.arrow {
    background: rgba(42, 42, 42, 0.15);
    width: 47px;
    height: 47px;
   
}

.arrow svg {
    margin:10px 0;
}

.ratio {
    align-items: center;
    margin-top: -55px;
    
}

.ratio-block {
    background: #FFFFFF;
    border:1px solid #F7F7F7;
}

.ratio h2 {
    color: #F16D7F;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    padding-top: 65px;
    position: relative;
}

.ratio h2::after {
    content: '';
    background: #F16D7F;
    width: 63px;
    height: 3px;
    position: absolute;
    top:90px;
    left:234px;
}

.ratio-title {
    padding:27px 0 48px 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #4D4D4D;
}

.ratio-description {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #4D4D4D;
}

.ratio-price {
    color:#F16D7F;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    padding:32px 0 130px 0;
    position: relative;
}

.ratio-price::after {
    content: '';
    background: #EAEAEA;
    width: 641px;
    height: 1px;
    position: absolute;
    top:120px;
    left:-65px;
}

.ratio-button {
    background: transparent;
    color: #6F6E6E;
    border:none;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.ratio-form {
    padding:49px 0 65px 0;
}

.ratio-form-button {
    color: #F26376;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    outline: none;
    border:1px solid #FF6A6A;
    width: 211px;
    padding:14px;
}

.ratio-form-button svg {
margin-right: 10px;
}

.goods-item-content {
    background: #F8F8F8;
    width:360px;
}

.goods-item-title {
    padding:24px 0 13px 18px;
    color: #000000;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.goods-item-des {
    padding:0 0 16px 18px;
    color: #5D5D5D;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
}

.goods-item-price {
    padding: 0 0 20px 18px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #F16D7F;
    
}

.footer {
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    margin-top: 128px;
    
}

.footer-registration {
    background: rgba(244, 244, 244, 0.7);
    padding-bottom: 126px;
}

.footer-registration-img {
    padding:86px 0 50px 0;
}

.footer-registration-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #222224;
    }

    .footer-registration-text span {
        font-style: italic;
    }

.footer-registration-subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #222224;
    padding-top: 155px;
}

.footer-registration-sub {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #222224;
    width: 100%;
    padding:0 0 27px;
}

.footer-form {
    display: flex;
    justify-content: center;
}
.footer-input {
    width: 256px;
    background: #E1E1E1;
    border: none;
    outline: none;
    border-radius: 30px 0 0 30px;
    padding:16px 0 10px 32px;
   

}
::placeholder {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    
}

.footer-button {
    background: #F16D7F;
    border-radius: 0px 30px 30px 0px;
    outline: none;
    border: none;
    width: 100px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #FFFFFF;

}

.footer-socialmedia {
    background: #222224;
    height: 79px;
}