.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .container {
    width: 96%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 91%;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  position: relative;
  background-color: #222222;
  min-height: 75px;
}
.header .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .header .header__container {
    width: 92%;
  }
}

.header__logo {
  margin: 18px 41px 0 0;
}

.header__button {
  background-color: transparent;
  border: none;
  padding: 27px 0 0 0;
}
.header__button:hover, .header__button:focus {
  opacity: 0.8;
}
.header__button:active {
  opacity: 0.5;
}

.header__button:hover .header__navigation {
  display: block;
}

.header__menu-list,
.header__wrp {
  display: flex;
  align-items: center;
}

.header__menu-item:not(:last-child) {
  margin: 0 33px 0 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__menu-item--registration,
.header__menu-item--basket {
    display: none;
  }
}

.header__navigation {
  position: absolute;
  display: none;
  max-width: 232px;
  height: 764px;
  left: 1368px;
  top: 75px;
  background: #FFFFFF;
}

.header__navigation-title {
  width: 55px;
  height: 17px;
  left: 1402px;
  top: 112px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-top: 37px;
  padding-left: 24px;
  padding-bottom: 4px;
}

.header__navigation-list {
  list-style-type: none;
}

.header__navigation-list-title {
  color: #F16D7F;
  max-width: 82px;
  height: 17px;
  left: 1401px;
  top: 303px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px 144px 12px 33px;
}

.header__navigation-sub-list-title {
  padding: 11px 98px 1px 54px;
}

.header__navigation-sub-list-link {
  text-decoration: none;
  width: 79.4px;
  height: 17px;
  left: 1422.5px;
  top: 332px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  font-weight: 400;
}

.name {
  display: flex;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .name__img {
    width: 50%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .name__img {
    display: none;
  }
}

.name__title {
  width: 100%;
  padding: 335px 0 0 64px;
  background: #F1E4E6;
}
@media (min-width: 320px) and (max-width: 767px) {
  .name__title {
    padding: 148px 56px 149px 83px;
  }
}

.name__title-content {
  position: relative;
  font-size: 48px;
  line-height: 39px;
  font-weight: 900;
  color: #222222;
  padding: 0 0 0 28px;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .name__title-content {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    padding: 0 0 151px 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .name__title-content {
    width: 100%;
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
  }
}

.name__title-content::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .name__title-content::before {
    height: 50%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .name__title-content::before {
    height: 100%;
  }
}

.name__title-span {
  font-size: 24px;
  line-height: 57px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .name__title-span {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .name__title-span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

.name__title-span-pink {
  color: #F16D7F;
}
@media (min-width: 320px) and (max-width: 767px) {
  .name__title-span-pink {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
}

.sale {
  padding: 63px 0 97px 0;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .sale {
    padding: 19px 0 155px;
  }
}

.sale__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 767px) {
  .sale__list {
    flex-direction: column;
    align-items: center;
  }
}

.sale__item {
  background-image: url("../img/sale_woman.jpg");
  max-width: 360px;
  height: 260px;
  justify-content: center;
  margin: 64px 0 0 0;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .sale__item {
    background-repeat: no-repeat;
    margin: 0 0 19px;
    width: 31%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sale__item {
    width: 91%;
    margin: 32px 0 0 0;
  }
}
.sale__item--second {
  background-image: url("../img/sale_man.jpg");
}
.sale__item--third {
  background-image: url("../img/sale_kid.jpg");
}

.sale__item--last {
  background-image: url("../img/sale_last.jpg");
  width: 100%;
  margin: 30px 0 0 0;
  height: 180px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .sale__item--last {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sale__item--last {
    width: 91%;
    margin: 32px 0 0 0;
  }
}

.sale__item-content {
  background: rgba(33, 22, 22, 0.7);
  width: 360px;
  height: 260px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .sale__item-content {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sale__item-content {
    width: 100%;
  }
}

.sale__item-content--last {
  width: 100%;
  height: 180px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .sale__item-content--last {
    width: 100%;
  }
}

.sale__item-name {
  color: #fbfbfb;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding-top: 105px;
}

.sale__item-category {
  color: #F16D7F;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
}

.sale__item-name--last {
  padding-top: 65px;
}

.features {
  text-align: center;
}

.features__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #222222;
}

.features__description {
  margin: 0 0 48px;
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}
@media (min-width: 900px) and (max-width: 1100px) {
  .features__list {
    width: 90%;
    padding-left: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .features__list {
    justify-content: center;
  }
}

.features__item {
  padding: 20px 0;
  position: relative;
}
.features__item:hover .features__item-button {
  display: block;
}

.features__item-button {
  display: none;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
  padding: 11px 16px 8px 13px;
  background-color: transparent;
  border: 1px solid #fbfbfb;
}
.features__item-button:hover {
  background-color: #F16D7F;
}

.features__item-content {
  width: 360px;
  background: #fbfbfb;
}

.features__item-title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  padding: 25px 0 0 18px;
}

.features__item-description {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #9F9F9F;
  width: 314px;
  height: 51px;
  padding: 12px 0 0 16px;
}

.features__item-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  padding: 18px;
}

.features__button {
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  background-color: #fbfbfb;
  padding: 14px 38px;
  margin: 48px 0 0 0;
}
.features__button:hover {
  background-color: #F16D7F;
  color: #fbfbfb;
}

.advantages {
  background: #222224;
  margin-top: 95px;
  min-height: 341px;
}

.advantages-container {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .advantages-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .advantages-container {
    flex-direction: column;
    align-items: center;
  }
}

.advantages__content {
  max-width: 360px;
  padding: 104px 0;
}
.advantages__content--sale {
  padding: 0 30px;
}

.advantages__icon {
  padding: 0 155px 28px 159px;
}
.advantages__icon--sale {
  padding: 0 160px 19px 160px;
}

.advantages__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #fbfbfb;
  text-align: center;
  padding: 0 0 16px 0;
}

.advantages__description {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-align: center;
  color: #FBFBFB;
}

.footer {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  min-height: 527px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer {
    background-image: urlurl("../img/footer-bg.jpg");
    min-height: 693px;
    background-size: cover;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    background-image: url("../img/footer-bg-mobile.jpg");
    background-size: cover;
    min-height: 550px;
  }
}

.footer__content {
  background-color: rgba(244, 244, 244, 0.7);
  height: 448px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__content {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__content {
    height: auto;
  }
}

.footer__content-item {
  display: flex;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__content-item {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__content-item {
    flex-direction: column;
    align-items: center;
  }
}

.footer__content-contact {
  max-width: 360px;
  padding: 87px 223px 126px 0;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__content-contact {
    width: 100%;
    padding: 53px 0 0 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__content-contact {
    width: 100%;
    padding: 54px 0 59px 0;
  }
}

.footer__content-img {
  padding: 0 0 30px 126px;
}

.footer__content-text {
  min-height: 99px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #222224;
}

.footer__content-italic {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
}

.footer__subscribe {
  padding: 150px 0 156px 200px;
  max-width: 557px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__subscribe {
    width: 100%;
    padding: 48px 0 148px 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__subscribe {
    width: 100%;
    padding: 0 0 110px 0;
  }
}

.footer__subscribe-title {
  text-align: center;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  min-width: 31px;
  text-transform: uppercase;
  color: #222224;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__subscribe-title {
    font-size: 24px;
    line-height: 39px;
    font-weight: 700;
  }
}
.footer__subscribe-subtitle {
  padding: 0 0 32px 0;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222224;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__subscribe-subtitle {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__subscribe-subtitle {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}

.footer__subscribe-form {
  display: flex;
  justify-content: center;
}

.footer__subscribe-input {
  width: 256px;
  height: 48px;
  background-color: #E1E1E1;
  border-radius: 30px 0 0 30px;
  border: 1px solid #E1E1E1;
  outline: none;
}
.footer__subscribe-input:hover, .footer__subscribe-input:focus {
  opacity: 0.8;
  border: 1px solid #F16D7F;
}
.footer__subscribe-input:active {
  opacity: 0.5;
}
@media (min-width: 275px) and (max-width: 574px) {
  .footer__subscribe-input {
    width: 245px;
  }
}

::placeholder {
  color: #222224;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  opacity: 0.6;
  padding-left: 22px;
}

.footer__subscribe-button {
  width: 100px;
  height: 52px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0px 30px 30px 0px;
  color: #fbfbfb;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding: 7px 7px 6px 8px;
}
.footer__subscribe-button:hover, .footer__subscribe-button:focus {
  opacity: 0.8;
  outline: none;
}
.footer__subscribe-button:active {
  opacity: 0.5;
}
@media (min-width: 275px) and (max-width: 574px) {
  .footer__subscribe-button {
    width: 95px;
  }
}

.footer__privecy {
  background-color: #222224;
  height: 79px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__privecy {
    height: 143px;
    display: flex;
  }
}

.footer__privecy-content {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__privecy-content {
    width: 92%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__privecy-content {
    flex-direction: column;
    align-items: center;
  }
}

.footer__privecy-title {
  color: #fbfbfb;
  padding-top: 30px;
  font-size: 16px;
  line-height: 9px;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__privecy-title {
    order: 2;
    padding-bottom: 10px;
  }
}

.footer__privecy-list {
  display: flex;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__privecy-list {
    order: 1;
  }
}

.footer__privecy-list-icon {
  list-style-type: none;
  padding: 23px 7px;
}
.footer__privecy-list-icon:hover, .footer__privecy-list-icon:focus {
  opacity: 0.8;
}
.footer__privecy-list-icon:active {
  opacity: 0.5;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__privecy-list-icon {
    padding-top: 43px;
  }
}

.footer__privecy-button {
  background-color: #fbfbfb;
  border: none;
  outline: none;
  width: 31px;
  height: 32px;
}
.footer__privecy-button--pink-bg {
  background-color: #F16D7F;
}

.registration-name {
  background-color: #F8F3F4;
  min-height: 148px;
}

.registration-title {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  padding: 59px 0 60px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .registration-title {
    text-align: center;
  }
}

.registration__container {
  display: flex;
  padding: 64px 0 96px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .registration__container {
    flex-direction: column;
  }
}

.registration__content {
  padding: 0 128px 0 0;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .registration__content {
    width: 46%;
  }
}

.registration__content-name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #222222;
  padding: 0 0 20px 0;
}

.registration__content-input {
  width: 360px;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  padding: 12px 277px 16px 17px;
  margin: 20px 0 0 0;
}
.registration__content-input:hover, .registration__content-input:focus {
  border: 1px solid #F16D7F;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .registration__content-input {
    width: 24%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .registration__content-input {
    width: 10%;
  }
}

::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
}

.registration__content-radio {
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  margin: 31px 10px 33px 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
}
.registration__content-radio__second {
  margin: 31px 10px 33px 20px;
}

label {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  color: #222222;
}

.registration__content-text {
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  color: #B1B1B1;
  padding: 15px 0 39px 0;
  width: 96%;
}

.registration__content-button {
  background-color: #F16D7F;
  border: none;
  color: #fbfbfb;
  padding: 16px 20px 17px 29px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.registration__content-button:active {
  opacity: 0.5;
}

.registration__content-button:after {
  content: url("../img/registration.svg");
  color: #fbfbfb;
  padding: 0 0 0 20px;
}

.registration__description {
  max-width: 652px;
  padding: 0 0 0 128px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .registration__description {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .registration__description {
    padding: 40px 0 0 0;
  }
}

.registration__description-title {
  padding: 0 0 22px 0;
}

.registration__description-text {
  padding: 0 0 21px 0;
}

.registration__description-loyalty {
  padding: 0 0 16px 0;
}

.registration__description-loyalty::before {
  content: url("../img/loyalty.svg");
  padding: 0 23px 0 0;
}
/*# sourceMappingURL=style.css.map */