@mixin font($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;

  }
  @mixin cardsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @mixin tablet {
    @media (min-width:768px) and (max-width:1599px) {
      @content;
    }
  }
  @mixin mobile {
    @media (min-width:320px) and (max-width:767px) {
      @content;
    }
  }
@mixin inputTablet{
  @media (min-width:575px) and (max-width:1599px) { 
    @content;
  }
}
@mixin inputMobile{
  @media (min-width:275px) and (max-width:574px) { 
    @content;
  }
}