$black-color: #222222;
$pink-color:  #F16D7F;
$pink-bg: #F1E4E6;
$footer-bg-black:#222224;
$footer-bg-grey:rgba(244, 244, 244, 0.7);
$white-color: #FFFFFF;;
$grey-color: #6F6E6E;
$grey-cards-color: #F8F8F8;
$sale-color:rgba(33, 22, 22, 0.7);
$grey-color-des: #9F9F9F;
$bg-input:#E1E1E1;
$desktop-width:1599px;
$mobile-width:375px;
$registration-bg: #F8F3F4;
$catalog-text:#636363;


