
.advantages {
    background: $footer-bg-black;
    margin-top: 95px;
    min-height: 341px;
    
}
.advantages-container {
    display: flex;
    align-items: center;
    @include tablet {
        flex-direction: column;
        align-items: center;
    }
    @include mobile  {
        flex-direction: column;
        align-items: center;
    }
}
.advantages__content {
    max-width: 360px;
    padding: 104px 0;
    &__sale {
        padding: 0 30px;
    }
    
}
.advantages__icon {
    padding: 0 155px 28px 159px;
    
    &__sale {
        padding: 0 160px 19px 160px;
    }
    
}
.advantages__title {
    @include font (20px, 24px, 400);
    color:$white-color;
    text-align: center;
    padding: 0 0 16px 0;
}
.advantages__description {
    @include font (14px, 17px, 300);
    text-align: center;
    color: #FBFBFB;
}