.features {
        text-align: center;
        
}

.features__title {
    @include font (30px, 36px, 400);
    color:$black-color;
    
}

.features__description {
    margin: 0 0 48px;
    color: $grey-color-des;
    @include font (14px, 17px,400);

}

.features__list {
    @include cardsWrap;
    text-align: left;
    
    @include featureTablet {
        width: 90%;
        padding-left: 50px;
    }

    @include mobile {
        justify-content: center;
    }
}

.features__item {
    padding: 20px 0;
    position: relative;
    &:hover {
        .features__item-button {
            display: block;
        }
    }
    
}

.features__item-button {
    display: none;
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    line-height: 17px;
    color: $white-color;
    padding: 11px 16px 8px 13px;
    background-color: transparent;
    border: 1px solid $white-color;

    &:hover {
        background-color: $pink-color;
    }

}

.features__item-content {
    width: 360px;
    background:$white-color;

}

.features__item-title {
    @include font (13px, 16px, 400);
    color: $black-color;
    padding: 25px  0 0 18px;
    
}

.features__item-description {
    @include font (14px, 17px, 300);
    color: $grey-color-des;
    width: 314px;
    height: 51px;
    padding: 12px  0 0 16px;
    
}

.features__item-price {
    @include font (16px, 19px, 400);
    color:$pink-color;
    padding: 18px;
    
}

.features__button {
    border: 1px solid $pink-color;
    @include font (16px, 19px, 400);
    color: $pink-color;
    background-color:$white-color;
    padding: 14px 38px;
    margin: 48px 0 0 0;
    &:hover {
        background-color: $pink-color;
        color:$white-color;
    }
}