.header {
    position: relative;
    background-color: $black-color;
    min-height: 75px;
    &__container {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }
}

.header_logo {
    margin: 18px 41px 0 0;
    }
    
    .header_button{
        background-color: transparent;
        border: none;
        padding: 27px 0 0 0;
        
        &:hover,
        &:focus {
            opacity: .8;
        }

        &:active {
            opacity: .5;
        }
    }
    
    
    .header_menu-list,
    .header_wrp {
        display: flex;
        align-items: center;
    }
    
    .header_menu-item:not(:last-child){
        margin: 0 33px 0 0;
    }
    .header__navigation {
        position: absolute;
        display:none;
        width: 232px;
        height: 764px;
        left: 1368px;
        top: 75px;
        background: #FFFFFF;
    
        
    }
    .header__navigation-title {
        width: 55px;
        height: 17px;
        left: 1402px;
        top: 112px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding-top: 37px;
        padding-left: 24px;
        padding-bottom: 4px;
    }
    
    
    .header__navigation-list {
        list-style-type: none;
    }
    .header__navigation-list-title {
        color: #F16D7F;
        width: 82px;
        height: 17px;
        left: 1401px;
        top: 303px;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 20px 144px 12px 33px;
        
    }
    .header__navigation-sub-list-title {
        padding: 11px 98px 1px 54px;
    }
    .header__navigation-sub-list-link {
        text-decoration: none;
        width: 79.4px;
        height: 17px;
        left: 1422.5px;
        top: 332px;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        font-weight: 400;
        
    }
    