.registration-name {
    background-color: $registration-bg;
    min-height: 148px;
}
.registration-title {
    color: $pink-color;
    @include font (24px, 29px, 400);
    padding: 59px 0 60px 0;
}
.registration__container {
    display: flex;
    padding: 64px 0 96px 0;
    @include mobile {
        flex-direction: column;
    }
}
.registration__content {
    max-width: 360px;
    padding: 0 128px 0 0;
    @include tablet {
        width: 46%;
    }
    
}
.registration__content-name {
    @include font (16px, 19px,300);
    color: $black-color;
    padding: 0 0 20px 0;
}
.registration__content-input {
    max-width: 100%;
    border: 1px solid #A4A4A4;
    background-color: #FFFFFF;
    padding: 12px 277px 16px 17px;
    margin:20px 0 0 0;
    &:hover,
    &:focus {
        border:1px solid $pink-color;
    }
    @include tablet {
        width: 24%;
    }
}
::placeholder {
    color:  #B1B1B1;
    @include font (13px, 16px, 300);
}
.registration__content-radio {
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
    margin: 31px 10px 33px 0;
    @include font (11px, 13px, 300);
    
    &__second {
        margin: 31px 10px 33px 20px;
    }
}
label {
    @include font (11px, 13px,300);
    color: $black-color;
}

.registration__content-text {
    @include font (13px, 15px, 300);
    color: #B1B1B1;
    padding: 15px 0 39px 0;
    width: 96%;
}
.registration__content-button {
    background-color:$pink-color;
    border: none;
    color: $white-color;
    padding: 16px 20px 17px 29px;
    @include font (14px, 17px, 400);
        

    &:active {
        opacity: .5;
    }
    } 

.registration__content-button:after {
    content:url('../img/registration.svg');
    color:$white-color;
    padding: 0 0 0 20px;
    
}
.registration__description {
    max-width: 652px;
    padding: 0 0 0 128px;
    @include font (24px, 29px, 300);
    @include tablet {
        padding: 0;
    }
    @include mobile {
        padding: 40px 0 0 0;
    }
}
.registration__description-title {
    padding: 0 0 22px 0;
}
.registration__description-text {
    padding: 0 0 21px 0;
}
.registration__description-loyalty {
    padding: 0 0 16px 0;
}
.registration__description-loyalty::before {
    content: url('../img/loyalty.svg');
    padding: 0 23px 0 0;
}
